.center-text {
    text-align: center;
}

.waitScreen {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
    url('../img/waitImage.gif')
    50% 50%
    no-repeat;
}
body.loading {
    overflow: hidden;
}
body.loading .waitScreen {
    display: block;
}

ul {
    list-style-type: none;
}

.spark-modal {
  display: none;
  width: 400px;
  background: #fff;
  padding: 15px 30px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 10px #000;
  -moz-box-shadow: 0 0 10px #000;
  -o-box-shadow: 0 0 10px #000;
  -ms-box-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #000;
}

.spark-modal a.close-modal {
  position: absolute;
  top: -12.5px;
  right: -12.5px;
  display: block;
  width: 30px;
  height: 30px;
  text-indent: -9999px;
}

.modal-spinner {
  display: none;
  width: 64px;
  height: 64px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-right: -32px;
  margin-top: -32px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
}

.spark-login-button {
  width: 150px;
  border-radius: 0;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  padding: 12px;
  background: #00aced;
  border: 0;
  font-size: 11px;
}

.spark-login-input {
  border-radius: 0;
  border: 1px solid #f7f7f7;
  height: 40px;
  width: 248px;
  margin-bottom: 20px;
  padding-left: 20px;
  font-size: 16px;
  font-weight: 300;
  font-family: 'Gotham SSm A', 'Gotham SSm B', proxima-nova, 'Helvetica Neue', helvetica, arial, sans-serif;
  font-size: 16px;
  outline: none;
}

.spark-login-modal {
  box-sizing: border-box;
  display: block;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding-bottom: 30px;
  padding-left: 75px;
  padding-right: 10px;
  padding-top: 60px;
  width: 400px;
  z-index: 0;
  background: rgba(0,0,0,0.8);
  border-radius: 0;
  border: 0;
  margin: 0 auto;
}

.spark-login-error {
  background-color: #f2dede;
  background-image: linear-gradient(to bottom, #f2dede 0, #e7c3c3 100%);
  background-repeat: repeat-x;
  border: 1px solid transparent;
  border-color: #dca7a7;
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.25),0 1px 2px rgba(0,0,0,0.05);
  color: #b94a48;
  padding: 15px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.25),0 1px 2px rgba(0,0,0,0.05);
  width: 216px;
  display: none;
}

#spark-login-form {
  display: none;
}

#spark-login-form-button {
  width: 248px;
  margin: 20px auto;
  background: #fad612;
  font-size: 14px;
}

#update-form-button {
    width: 248px;
    margin: 20px auto;
    background: #73dc69;
    font-size: 14px;
}

.update-button {
    width: 150px;
    border-radius: 0;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    padding: 12px;
    background: #73dc69;
    border: 0;
    font-size: 11px;
}

#claim-form-button {
    width: 248px;
    margin: 20px auto;
    background: rgb(94, 157, 200);
    font-size: 14px;
}

.claim-button {
    width: 150px;
    border-radius: 0;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    padding: 12px;
    background: rgb(94, 157, 200);
    border: 0;
    font-size: 11px;
}

.row-border {
    outline: thin solid black;
}